sync-products-integration-db-sapi/src/main/mule/sync-products-integration-db-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sync-products-integration-db-sapi-main">
        <http:listener path="/api/*" config-ref="sync-products-integration-db-sapi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sync-products-integration-db-sapi-config" doc:id="75697608-7737-4b6c-80dd-39ee5dc46476"/>
        <error-handler ref="globla-errorError_Handler" />
    </flow>
    <flow name="post:\creatingRecorddb:application\json:sync-products-integration-db-sapi-config" doc:id="e0a273cb-4c99-49ae-a680-84d148006274">
        <flow-ref doc:name="Flow Reference" doc:id="cc2b382b-5bea-4c75-aa5a-36dcfca66870" name="db-insertionSub_Flow" />
    </flow>
    <flow name="put:\creatingRecorddb\(id):application\json:sync-products-integration-db-sapi-config" doc:id="d8822f96-36e5-4375-850e-c35ba5b6946d">
        <ee:transform doc:name="id variable">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="calling-db-updation-subflow" doc:id="15b486e6-1568-4ced-852a-2074c702649f" name="db-updation-subflow"/>
    </flow>
    <flow name="get:\creatingRecorddb\(id):sync-products-integration-db-sapi-config" doc:id="81a47747-05ac-41eb-baa4-047a78750ec6">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="73c03b66-cab5-4611-900f-10bb8e538459" name="db-implementationsSub_Flow" />
    </flow>
</mule>
