day1-mule-project/src/main/mule/day1-mule-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="day1-mule-projectFlow" doc:id="8ebf4ec5-52be-4e07-8a71-becfea4654f9" >
		<http:listener doc:name="Listener" doc:id="b552994b-0c09-4d80-8fe3-1b0620a9d97a" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Entry" doc:id="49eee688-e28a-4c90-85a5-f96235b4c626" message='#["Entered into the muleproject flow"]'/>
		<ee:transform doc:name="ouptutMessage" doc:id="c02372ee-e5a9-405d-91ab-2cbfc16e5668" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "helloworld"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="exitFlow" doc:id="b8b33307-72ee-4d22-927a-c8512465b535" message='#["Exiting From the flow"]'/>
	</flow>
</mule>
