sync-products-integration-db-sapi/target/META-INF/mule-src/sync-products-integration-db-sapi/src/main/mule/sync-products-integration-db-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sync-products-integration-db-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <apikit:config name="sync-products-integration-db-sapi-config" api="resource::4f105f33-ac28-42d4-8771-e2e0cfeb419d:sync-products-integration-db-sapi:1.0.0:raml:zip:sync-products-integration-db-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sync-products-integration-db-sapi-main">
        <http:listener config-ref="sync-products-integration-db-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sync-products-integration-db-sapi-config" />
		<error-handler ref="globla-errorError_Handler" />
    </flow>
    <flow name="post:\insert\db:application\json:sync-products-integration-db-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="cc2b382b-5bea-4c75-aa5a-36dcfca66870" name="db-insertionSub_Flow"/>
		<error-handler ref="globla-errorError_Handler1" />
    </flow>
</mule>
