sync-products-interation-salesforce-sapi/src/main/mule/sync-product-integration-sf-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sync-product-integration-sf-sapi-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="sfEntryCheck" doc:id="5366f7ee-0600-4a91-a657-a8f030b3f01c" message='#["Entrying Into The salesforce APi"]'/>
		<apikit:router config-ref="sync-product-integration-sf-sapi-config"/>
		<logger level="INFO" doc:name="sfExitCheck" doc:id="117b070e-cac7-4bbe-a005-48e503265940" message='#["Exiting From the salesforce APi"]'/>
		<error-handler ref="global-error-handlersError_Handler" />
    </flow>
    <flow name="post:\insert\sf:application\json:sync-product-integration-sf-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="40ca504e-ab5e-4d7a-89fb-52bf635f1f8f" name="sf-creatingdataSub_Flow"/>
    </flow>
</mule>
