sync-product-integration-papi/src/main/mule/syc-product-integration-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="syc-product-integration-papi-main" doc:id="dd6ccab9-7285-4936-9f8b-78af1ac7de98">
        <http:listener config-ref="syc-product-integration-papi-config-1" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="entryAPi" doc:id="f9b4b906-1976-4ffd-9831-c2ca687771e5" message='#["entryig Into The Papi"]'/>
		<apikit:router config-ref="syc-product-integration-papi-config" doc:name="APIkit Router."/>
		<logger level="INFO" doc:name="Exit Api" doc:id="6900fb40-9c2e-466c-b3e2-b231ba7c8bcb" message='#["Exiting From the Papi Api"]'/>
		<error-handler ref="global-error-handlerError_Handler" />
    </flow>
    <flow name="get:\fetchdata:syc-product-integration-papi-config" doc:id="714a2bae-af8d-4342-9234-32977eec5de1">
		<flow-ref doc:name="fetching-Request-dataSub_Flow" doc:id="456b4f25-3342-4c46-8570-d381575cbd76" name="fetching-Request-dataSub_Flow"/>
    </flow>
</mule>
