sync-product-integration-papi/src/main/mule/syc-product-integration-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="syc-product-integration-papi-main">
        <http:listener path="/api/*" config-ref="syc-product-integration-papi-config-1">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="papiEntryCheck" doc:id="03865d57-c688-479f-af85-eb174108ccd1" message='#["Entered Into The processApi"]'/>
		<apikit:router config-ref="syc-product-integration-papi-config"/>
		<logger level="INFO" doc:name="papiExitCheck" doc:id="2ae14e0d-48fa-4958-9641-833255f30aac" message='#["Exiting From the Process api"]'/>
		<error-handler ref="global-error-handlerError_Handler" />
    </flow>
    <flow name="get:\fetchdata:syc-product-integration-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="818e0346-285a-43f8-84cf-9c9b5691546e" name="fetching-Request-dataSub_Flow"/>
    </flow>
</mule>
